body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pdMain{
  padding-left: 6rem;
  padding-right: 6rem;
}

.ml1{
  margin-left: -1.5rem;
}

h1{
 font-weight: 600;
 font-size: 4.5rem; 
}

h2{
  font-weight: 700;
  font-size: 2rem;
}

h3{
  font-weight: 800;
  font-size: 1.3rem;

  margin: 1rem 0;
}

span{
  color: gray;
  font-size: 1.2rem;
}

.spec{
  display: inline;

  font-weight: 600;
}

.mainView{
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;

  background-color: #fff8e1;

  width: 100%;
}

.header{
  margin: 2rem 0;
}

.footer,
.header{
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.footer{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer span{
  color: black;
}

.footer span img{
  vertical-align:middle;
}

.logo{
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;

  margin: auto 0;
}

.navLink span, 
.textMain button span,
.priceCard button span{
  margin-right: 2rem;
}

.header button, 
.textMain button,
.priceCard button{
  border: none;
  border-radius: 6px;
  padding: 1rem 0;
}

.header button img,
.textMain button img,
.priceCard button img{
  margin-left: 1.5rem;
  margin-bottom: -0.2rem;
}

.header button span,
.textMain button span,
.priceCard button span{
  color: white;
  margin-left: 1.3rem;
  font-weight: 700;
}

.textMainBody{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin-bottom: 5rem;

  justify-content: space-between;
}

.textMain{
  width: 55%;
  margin: auto 0;
}

.block{
  display: flex;
  flex-wrap: wrap;
}

.block span{
  margin: auto 1rem;
}

.picMain{
  width: 35%;
}

.picMain img{
  width: 100%;
}


.blockFeatures{
  margin: 5rem 0
}

.blockComment{
  display: flex;
  
  flex-wrap: wrap;

  justify-content: space-between;
  width: 100%;
}

.comment{
  width: 48%;
  padding: 1rem 1rem;

  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 2rem;
}

.picCom{
  font-size: 2rem;
}

.mainСustomers{
  display: flex;
  flex-wrap: wrap;
}

.bodyCustom{
  margin: 5rem 0;
  width: 100%;
}

.bodyCustom h2{
  margin-top: 0;
}

.blocksCustom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
}

.blockCustom{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border-radius: 5px;

  background-color: white;

  width:28%;
  height: auto;

  padding: 1.3rem 1.5rem;
}

.infoPerson{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.mainInfo{
  width: 80%;
  display: flex;
}

.mainInfo img{
  margin-right: 1rem;
}

.nameNick{
  display: block;
}

.nameNick h3{
  margin: 0.2rem 0;
}


.birdBlock img{
  margin: 50% 0;
}

.blockCommentText{
  margin: 1.5rem 0;
  text-align: start;
  width: 90%;
}

.dateComment{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.countHeart img{
  vertical-align:sub;
  margin-right: 0.4rem;
}

.priceBody{
  margin: 3rem 0;
}

.priceList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  width:40%;
  margin: 0 auto;
}

.priceCard{
  margin: 3rem 0;

  border: 1px solid orange;
  border-radius: 5px;

  text-align: start;
  padding: 2rem 2rem;
}

.priceCard h1{
  margin: 0.5rem 0;
}

.priceCard ul li{
  list-style-image: url('./Assets/Checkmark.svg');
  margin-left: 2rem;
  padding: 0.5rem;
}

.priceCard button {
  width: 100%;
}

.hamMenu{
  display: none;
  position: relative;
}

#hamMenuBlock{
  display: none;

  position: absolute;
  top: 1rem;
  right: 10%;

  width: 20rem;
  flex-wrap: wrap;
  flex-direction: column;

  margin-top: 1rem;
  
  border-radius: 10px;

  background-color: white;
}

#hamMenuBlock span{
  display: block;
  text-align: end;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



@media (max-width: 1000px) {
  .textMain,
  .picMain,
  .block button,
  .comment,
  .blockCustom,
  .priceList{
    width: 100%;
  }

  .block span{
    margin: 1rem auto;
  }
  
  .picMain{
    margin-top: 5rem;
  }

  .blockCustom{
    margin: 1rem 0;
  }

  .hamMenu{
    display: block;
  }

  .navLink{
    display: none;
  }
}